/* ------------ ---- GENERAL AND PAGE ---- ------------ */
body {
  background-color: #714227;
  font-family: "Nunito", sans-serif;
  color: #bb8466;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title,
.subtitle,
.card-title {
  font-family: "Lora", serif;
}
.header {
  background-color: #382920;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
}
.main {
  border-top: 0.2rem solid #000; /* Línea negra divisoria */
  flex-grow: 1;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.text-subtitle {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.4rem;
}
/* ------------ ---- FILTERS ---- ------------ */

.filters {
  background-color: #bb8466;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 2rem auto;
  max-width: 60rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.6);
}

.search-group {
  display: flex;
  flex-wrap: wrap; /* Que bajen si no caben */
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  max-width: 900px;
  margin: 0 auto;
}

.input,
.input-family,
.input-status,
.input-name {
  display: flex;
  flex-direction: column; /* Label arriba y el input debajo */
  align-items: flex-start;
  flex: 1;
  min-width: 12rem;
}

.search-group label {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #5d4a3e;
}

.search-name,
.search-family,
.search-status {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 0.1rem solid #382920;
  border-radius: 0.625rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

/* Contenedor principal */
.input-categories {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------ ---- CHECKBOX ---- ------------ */
.checkbox-group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* El ítem individual */
.check-item {
  border: 0.1rem solid #382920;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  user-select: none;
  background-color: transparent;
}

.check-item:hover {
  background-color: #eebfa5;
  border-color: #cea48e;
}

/* Estilo cuando el input está marcado */
.check-item:has(input:checked) {
  background-color: #714227;
  border-color: #382920;
  color: #cea48e;
}

.check-item:has(input:checked) .name-check {
  color: #cea48e;
}
.check-item input {
  margin-right: 0.5rem;
  accent-color: #382920;
}
.name-check {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #382920;
}
/* ------------ ---- RESET ---- ------------ */
.btn-reset {
  background-color: #382920;
  color: #cea48e;
  align-self: flex-end;
  margin-left: auto;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: #bd7751;
  color: #382920;
}

/* ------------ ---- COUNTER ---- ------------ */
.info-results {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.counter {
  background-color: #bb8466;
  border: 0.0625rem solid #382920;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  font-family: "Nunito", sans-serif;
  color: #382920;
  display: inline-block;
  min-width: 12.5rem; /* 200px -> 12.5rem */
  text-align: center;
}

/* ------------ ---- CARD ---- ------------ */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0.3rem 3rem 3rem 3rem;
}
.card {
  background-color: #bb8466;
  border-radius: 0.5rem;
  padding: 0.7rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.6);
  color: #382920;
  text-align: center;
  margin: 2rem auto;
  width: 70%;
}

.card-scientific {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 1.05rem;
  color: #5d3a26;
  margin: 0.1rem 0 0.8rem 0;
}

.card-img {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  background-color: #e4dac9;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  line-height: 1;
  margin: 0.8rem 0 0 0;
}
.card-category {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.card-description {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

/* ------------ ---- FOOTER ---- ------------ */
.footer {
  background-color: #382920;
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
}
.text-footer {
  margin: 0.2rem 0; /* Esto reduce el espacio entre las líneas del footer */
  font-size: 0.9rem;
}

/* ------------ ---- QUERIES ---- ------------ */
@media (min-width: 768px) {
  .app-container {
    flex-direction: row; /* Cambiamos a filas */
    flex-wrap: wrap; /* Si no caben, bajan a la siguiente fila */
    justify-content: center;
    align-items: stretch; /* Que la misma fila midan lo mismo de alto */
  }

  .card {
    flex: 1 0 30%; /* Todas crezcan por igual, que no se basen en el contenido interno y tamaño base. */
    max-width: 350px;
  }
  .card-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
}
